.card-body .navbar .container-fluid .collapse ul li a {
    color: blue;
} 
.card-body .navbar .container-fluid .navbar-menu ul li a:hover {
    color: green;
    transform: rotate(2deg);
    transition: 0.4s;
} 

.title-add-user{
    background-color: blue;
    height: 3vh;
    color: white;
    width: auto;
 
}