.info {
    display: flex;
    gap: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
}

.main-sidebar {
    /* background-color:rgb(32, 32, 119); */
    background-image: linear-gradient(to bottom, #4682B4, #00FFFF, #00FA9A);
}

/* sidebar kiri style */
.brand-link span{
    color: black;
    font-weight: 700;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sik-detail a {
    font-weight: 600;
    font-family: "Sofia", sans-serif;
    font-size: 18px;
    text-shadow: 3px 3px 3px #ababab;
}

.nav-treeview li a {
    color: black;
}

.nav-treeview li a:hover{
    color: rgb(19, 13, 112);
    transition-delay: 0.1ss;
    opacity: 0.7;
}

.nav-treeview {
    margin-top: 25px;
}
.side a {
    color: black;
}

.master-data-side {
    padding: 10px;
    margin: 10px;
}

.nav-treeview .nav-item a {
    background-color: rgb(0, 124, 155);
}
/* cut sidebar kiri style */


/* sidebar atas style */
.main-header ul li a {
    color: black;
}

.navigasi-atas {
    width: 100%;
    justify-content:space-between;
    /* width: auto; */
}
.navigasi-atas li {
    list-style: none;
}

.nav-atas-side-kanan {
    display: flex;
    flex-direction: row;
}
.main-header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* cut main header style */


/* start footer style */
.main-footer {
    color: blue;
}

/* konten master data  */
.master-data-menu .container-fluid  {
    background-color:whitesmoke;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content:flex-start;
    gap: 17px;
    align-items: center;
}
.master-data-menu .container-fluid a  {
    color: blue;
    font-size: 15px;
}

.master-data-menu .container-fluid a:hover  {
    font-size: 16px;
    transition: font-size 0.6s;
    background-color: #927dc4;
    border-radius: 7px;
    padding: 5px;
}

.img-dashboard img {
    width: 80%;
}
.detail-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
}

.detail-dashboard-title h1 {
    font-size: 55px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    border-bottom: 2px solid gray;
    border-top: 2px solid gray;
    border-radius: 10px;
}
.detail-dashboard-title h1 span {
    font-size: 55px;
    color: rgb(163, 136, 0);
}

.detail-dashboard h5 {
    color: rgb(15, 11, 11);
}
 


/* end footer style */


/* style karyawan start */
    .form-tambah-data-karyawan {
        padding: 15px;
        margin: 15px;
    }



/* style karyawan end */

/* style form absensi */
.form-create-absensi-karyawan {
    padding: 35px;
}

/* konten cek jadwal  */
.konten-cek-jadwal {
    font-size: 12px;
}