.card-body .navbar .container-fluid .collapse ul li a {
    color: blue;
    font-size: 13px;
} 
.navbar-menu ul li a {
    font-size: 12px;
}


.table-target {
    font-size: 13px;

}

.table-target thead tr th {
    font-size: 12px;
}
@media (max-width: 375px) { 
    .navbar-menu ul {
        display: flex;
        flex-direction: row;
        font-size: 8px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .navbar-menu ul li{
        background-color:aqua;
        border-radius: 5px;
        color: white;
    }
 }

 