.info {
    display: flex;
    gap: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
}

.main-sidebar {
    /* background-color:rgb(32, 32, 119); */
    background-image: linear-gradient(to bottom, #4682B4, #00FFFF, #00FA9A);
}

/* sidebar kiri style */
.brand-link span{
    color: black;
    font-weight: 700;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sik-detail a {
    font-weight: 600;
    font-family: "Sofia", sans-serif;
    font-size: 18px;
    text-shadow: 3px 3px 3px #ababab;
}

.nav-treeview li a {
    color: black;
}

.nav-treeview li a:hover{
    color: rgb(19, 13, 112);
    transition-delay: 0.1ss;
    opacity: 0.7;
}

.nav-treeview {
    margin-top: 25px;
}
.side a {
    color: black;
}

.master-data-side {
    padding: 10px;
    margin: 10px;
}

.nav-treeview .nav-item a {
    background-color: rgb(0, 124, 155);
}
/* cut sidebar kiri style */


/* sidebar atas style */
.main-header ul li a {
    color: black;
}

.navigasi-atas {
    width: 100%;
    justify-content:space-between;
    /* width: auto; */
}
.navigasi-atas li {
    list-style: none;
}

.nav-atas-side-kanan {
    display: flex;
    flex-direction: row;
}
.main-header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* cut main header style */


/* start footer style */
.main-footer {
    color: blue;
}


/* end footer style */